/* General Styles */
.header-title, .section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.page-content, .recipe-section, .recipe-details {
  padding: 20px; /* Uniform padding for content alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Input Field Style */
.input-label {
  font-size: 16px;
  color: #666;
}

.input-field {
  --padding-start: 8px; /* Internal padding for the input field */
  --border-radius: 8px; /* Rounded corners for the input */
  border: 1px solid #ccc; /* Subtle border for the input field */
}

/* Buttons */
.search-button {
  margin-top: 10px;
  font-weight: bold;
  --border-radius: 8px;
  background-color: #4CAF50; /* Green color for the search button */
  color: white;
}

.search-button:hover {
  background-color: #45a049; /* Slightly darker on hover for feedback */
}

/* Recipe List Styles */
.recipe-list {
  width: 100%; /* Full width to maximize content display */
  max-width: 600px; /* Max width for large screens */
}

.recipe-item {
  display: flex;
  align-items: center;
  background-color: #f9f9f9; /* Light background for the items */
  border-bottom: 1px solid #eee; /* Subtle separation for items */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.recipe-item:hover {
  background-color: #e9e9e9; /* Change background on hover */
}

.recipe-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 45px; /* Rounded thumbnails */
  object-fit: cover; /* Cover fit to avoid distortion */
}

.recipe-details, .recipe-title {
  color: white; /* Set text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for better readability */
}
.recipe-instructions, .recipe-title {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 8px; /* Add some padding around the text */
  border-radius: 4px; /* Optional: rounds the corners of the background */
}

.recipe-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px; /* Soft rounded corners for images */
}
.recipe-instructions {
  text-align: left; /* Align instructions to the left */
  margin-top: 20px; /* Space above the instructions */
}
.full-page-background img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

/* Responsive Design for Small Devices */
@media (max-width: 600px) {
  .input-field, .search-button, .recipe-list {
    width: 100%; /* Full width on small screens for better accessibility */
  }
}
