

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-button (click)="openSavedExerciseList()">Exercises</ion-button>
<ion-button (click)="FindLocalGyms()">Find Local Gyms</ion-button>
  <!-- Other profile content goes here -->
  

  <!-- Include the SavedExercisesComponent here -->
  <ion-content>
  
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/exercises']">
          <ion-icon name="barbell-outline"></ion-icon>
          Exercises
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/chatbot']">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          Chatbot
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
          Profile
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  
  </ion-content>
