<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <!-- Profile card for user picture and details -->
  <ion-card *ngIf="userProfile">
    <img [src]="userProfile.profilePicture || 'assets/default-profile.png'" alt="Profile Picture" class="profile-picture"/>
    <ion-card-content>
      <h2>{{ userProfile.username || 'Set your username' }}</h2>
      <p>{{ userProfile.email }}</p>
      <div class="profile-actions">
        <!-- Username edit section -->
        <ion-item>
          <ion-label position="floating">Update Username</ion-label>
          <ion-input [(ngModel)]="newUsername"></ion-input>
        </ion-item>
        <ion-button (click)="updateUsername(newUsername)">Update Username</ion-button>
        <!-- Profile picture edit section -->
        <input type="file" (change)="handleFileInput($event)" hidden #fileInput>
        <ion-button (click)="fileInput.click()">Change Picture</ion-button>
        <ion-button (click)="uploadProfilePicture()">Save Picture</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Action buttons for the user -->
  <div class="profile-actions">
    <ion-button expand="block" (click)="openSavedExerciseList()">Exercises</ion-button>
    <ion-button expand="block" (click)="FindLocalGyms()">Find Local Gyms</ion-button>
    <ion-button expand="block" (click)="MacroCounter()">Macro Counter</ion-button>
  </div>
</ion-content>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button [routerLink]="['/home']" class="tab-button">
      <ion-icon name="home-outline" class="tab-icon"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
      <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
      Exercises
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
      <ion-icon name="book-outline" class="tab-icon"></ion-icon>
      Meal Plans
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
      <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
      Challenges
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/profile']" class="tab-button">
      <ion-icon name="person-outline" class="tab-icon"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>