<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="profile-container" *ngIf="userProfile">
    <img [src]="userProfile.picture" alt="Profile Picture" class="profile-picture"/>
    <h2 class="profile-name">{{ userProfile.name }}</h2>
    <!-- Other profile details here -->
  </div>
  <!-- Rest of the page content -->
</ion-content>

<ion-content class="page-content">
  <ion-button class="profile-button" (click)="openSavedExerciseList()">Exercises</ion-button>
  <ion-button class="profile-button" (click)="FindLocalGyms()">Find Local Gyms</ion-button>
  <ion-button class="profile-button" (click)="MacroCounter()">MacroCounter</ion-button>
  <!-- Other profile content goes here -->
  
</ion-content>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button [routerLink]="['/home']" class="tab-button">
      <ion-icon name="home-outline" class="tab-icon"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
      <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
      Exercises
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
      <ion-icon name="book-outline" class="tab-icon"></ion-icon>
      Meal Plans
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
      <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
      Challenges
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/profile']" class="tab-button">
      <ion-icon name="person-outline" class="tab-icon"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
