<!-- ... other parts of your template ... -->
<div class="background-image-container">
  <img src="assets/marble2.jpg" alt="Background" class="background-image">
</div>
<ion-list>
  <ion-item *ngFor="let savedExercise of savedExercises; let i = index">
    <!-- View Mode: Show text for viewing -->
    <ion-label *ngIf="editModeIndex !== i">
      <h2>{{ savedExercise.workoutTitle }}</h2>
      <div *ngFor="let exercise of savedExercise.exercises">
        <p>Name: {{ exercise.name }}</p>
        <p>Sets: {{ exercise.sets }}</p>
        <p>Reps: {{ exercise.reps }}</p>
      </div>
      <p>Description: {{ savedExercise.description }}</p>
      <p>Duration: {{ savedExercise.duration }}</p>
      <ion-button (click)="enableEditMode(i)">Edit</ion-button>
      <ion-button *ngIf="savedExercise._id" (click)="deleteExercise(savedExercise)">Delete</ion-button>
    </ion-label>
    
    <!-- Edit Mode: Show input fields for editing sets and reps -->
    <ion-label *ngIf="editModeIndex === i">
      <div *ngFor="let exercise of savedExercise.exercises; let j = index">
        <p>Name: {{ exercise.name }}</p>
        <ion-item>
          <ion-label position="floating">Sets</ion-label>
          <ion-input [(ngModel)]="exercise.sets" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Reps</ion-label>
          <ion-input [(ngModel)]="exercise.reps" type="number"></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="updateExercise(savedExercise)">Save</ion-button>
      <ion-button (click)="cancelEditMode()">Cancel</ion-button>
    </ion-label>
  </ion-item>
</ion-list>

<!-- ... other parts of your template ... -->


<!-- Include the tab bar as before -->



    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  