 /* Style for Tab Bar */
 .tab-bar {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  /* Style for Tab Buttons */
 
  
  /* Style for Tab Icons */
  .tab-icon {
    font-size: 24px;
  }