<!-- saved-exercise-list.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Saved Exercises</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let exercise of savedExercises; let i = index">
      <div *ngIf="editModeIndex !== i"> <!-- Display mode -->
        <ion-label>
          {{ exercise.exerciseName }} - Volume: {{ exercise.volume }}, Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="enableEditMode(i)">
          Edit
        </ion-button>
        <ion-button color="danger" slot="end" *ngIf="exercise._id" (click)="deleteExercise(exercise._id)">
          Delete
        </ion-button>
      </div>
      <div *ngIf="editModeIndex === i"> <!-- Edit mode -->
        <ion-input type="number" [(ngModel)]="exercise.volume" placeholder="Volume"></ion-input>
        <ion-input type="number" [(ngModel)]="exercise.sets" placeholder="Sets"></ion-input>
        <ion-input type="number" [(ngModel)]="exercise.reps" placeholder="Reps"></ion-input>
        <ion-button (click)="updateExercise(exercise)">Save</ion-button>
        <ion-button (click)="cancelEditMode()">Cancel</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>