

<ion-content  fullscreen class="login-page-background">
  <div class="background-image-container">
    <img src="assets/Olympus2.jpg" alt="Background" class="background-image">
  </div>
  <div class="login-wrapper">
    <div class="login-logo-container">
      <img src="assets/HerculethesLogos.png" alt="App Logo" class="login-logo">
    </div>
    <form (ngSubmit)="login()" [formGroup]="credentials" class="login-form">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-note *ngIf="(email.dirty || email.touched) && email.errors" class="error-note">
        Email is invalid
      </ion-note>
      
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-note *ngIf="(password.dirty || password.touched) && password.errors" class="error-note">
        Password needs to contain a minimum of 6 characters
      </ion-note>
      
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">
        Log in
      </ion-button>
      <ion-button type="button" expand="block" color="secondary" [disabled]="!credentials.valid" (click)="register()">
        Register for Account
      </ion-button>
      <ion-button expand="block" color="tertiary" (click)="sendReset()" [disabled]="email.invalid">
        Reset Password
      </ion-button>
    </form>
  </div>
</ion-content>
