



<!-- exercises-list.page.html -->

<div class="exercise-list-container">
  <table class="exercise-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises" (click)="selectExercise(exercise)" [class.selected]="exercise.selected">
        <td><span>{{ exercise.name }}</span></td>
        <td><span>{{ exercise.description }}</span></td>
      </tr>
    </tbody>
  </table>
</div>

<ion-button class="add-button" (click)="addSelectedExercises()" [disabled]="!areAnyExercisesSelected()">
  Add Selected Exercises
</ion-button>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>