



<ion-header>
  <ion-toolbar>
    <ion-title  class="header-title">Exercises List</ion-title>
  </ion-toolbar>
</ion-header>


<div class="exercise-list-container">
  <ion-list>
  <ion-item *ngFor="let exercise of exercises" (click)="toggleExerciseSelection(exercise)">
    <ion-label>
      <h2>{{ exercise.Name }}</h2> <!-- Display the name -->
      <p>{{ exercise.Description }}</p> <!-- Display the description -->
    </ion-label>
    <ion-checkbox [(ngModel)]="exercise.selected"></ion-checkbox>
  </ion-item>
</ion-list>
  <ion-button expand="block" (click)="addSelectedExercises()">Add Selected Exercises</ion-button>
</div>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>