<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MealPlans</ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="meals.length > 0; else noMeals">
  <h2>Nutritional Information</h2>
  <ul>
    <li *ngFor="let meal of meals">
      <h3>{{ meal.label }}</h3>
      <p>Calories: {{ meal.nutrients.ENERC_KCAL }}</p>
      <p>Proteins: {{ meal.nutrients.PROCNT }}g</p>
      <!-- Add more nutritional info as needed -->
    </li>
  </ul>
</div>
<ng-template #noMeals>
  <p>No meals found.</p>
</ng-template>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']">
        <ion-icon name="barbell-outline"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlan']">
        <ion-icon name="book-outline"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']">
        <ion-icon name="trophy-outline"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>