<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MealPlans</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Breakfast Section -->
  <h2>Breakfast</h2>
  <ion-list>
    <ion-item *ngFor="let meal of breakfastMeals">
      <ion-thumbnail slot="start">
        <img [src]="meal.image" alt="{{ meal.label }}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ meal.label }}</h3>
        <p>Calories: {{ meal.calories }}</p>
        <p>Protein: {{ meal.protein }}</p>
        <!-- Add other nutrient information here -->
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Lunch Section -->
  <h2>Lunch</h2>
  <ion-list>
    <ion-item *ngFor="let meal of lunchMeals">
      <ion-thumbnail slot="start">
        <img [src]="meal.image" alt="{{ meal.label }}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ meal.label }}</h3>
        <p>Calories: {{ meal.calories }}</p>
        <p>Protein: {{ meal.protein }}</p>
        <!-- Add other nutrient information here -->
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Dinner Section -->
  <h2>Dinner</h2>
  <ion-list>
    <ion-item *ngFor="let meal of dinnerMeals">
      <ion-thumbnail slot="start">
        <img [src]="meal.image" alt="{{ meal.label }}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ meal.label }}</h3>
        <p>Calories: {{ meal.calories }}</p>
        <p>Protein: {{ meal.protein }}</p>
        <!-- Add other nutrient information here -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']">
        <ion-icon name="barbell-outline"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlan']">
        <ion-icon name="book-outline"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']">
        <ion-icon name="trophy-outline"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>