 /* Style for Tab Bar */
 .tab-bar {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  /* Style for Tab Buttons */
  .tab-button {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Style for Tab Icons */
  .tab-icon {
    font-size: 24px;
  }
  ion-title {
    text-align: center;
  }
  ion-content {
    --background: none;
  }
 