<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page">
  <!-- Date and Time Display -->
  <div class="date-time">
    <span id="currentDateTime"></span>
  </div>

  <!-- Workouts List -->
  <div *ngFor="let workout of savedWorkouts" class="card shadow-sm">
    <div class="card-header bg-light">
      <h5 class="card-title m-0">{{ workout.workoutTitle }}</h5>
      <h6 class="card-subtitle text-muted">{{ workout.timestamp | date: 'medium' }}</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Duration:</strong> {{ workout.duration | date: 'H:mm:ss' }} hours
        <div *ngFor="let exercise of workout.exercises">
          <p class="mb-0"><strong>{{ exercise.name }}</strong> - Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}</p>
        </div>
      </li>
    </ul>
  </div>
</ion-content>


    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
