/* Style for the header title */
.header-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  
}

/* Full-page background image at the top */
.background-section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Workouts container with centered cards */
.workouts-container {
  max-width: 600px; /* Maximum width for the workout cards */
  margin: 0 auto; /* Center the container */
  padding-top: 20px; /* Space between the image and the first card */
  position: relative;
  z-index: 2;
}

/* Style for the date and time display */
.date-time {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
  padding: 10px 0;
  background-color:  transparent; 
  margin-top: -20px; /* Pull the date up to overlap with the image */
}

/* Style for workout cards */
ion-card {
  margin: 10px; /* Reduced margin */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

/* Style for the card header */
ion-card-header {
  background-color: #007bff;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px 8px 0 0;
}

/* Style for the card title */
ion-card-title {
  font-size: 18px;
}

/* Style for the card subtitle */
ion-card-subtitle {
  color: #faf5f5;
  font-size: 14px;
}

/* Style for the card content */
ion-card-content {
  padding: 15px;
  line-height: 1.5;
  font-size: 15px;
}

/* Style for the tab bar */
.tab-bar {
  background-color: #fff;
  border-top: 1px solid #5a5858;
}



/* Highlight for the active tab button */
.tab-button[aria-selected="true"] {
  border-top: 3px solid #007bff;
}

/* Style for the tab icons */
.tab-icon {
  font-size: 24px;
}
/* Style for the tab buttons */
.tab-button {
  font-size: 14px;
  font-weight: bold;
  border-top: 3px solid transparent;
}


/* Style adjustments for input fields */
ion-input,
ion-textarea {
  --padding-start: 16px;
  --padding-end: 16px;
  width: 100%;
  font-size: 16px;
}

/* Color adjustments for labels */
ion-label {
  --color: #000;
}

/* Buttons at the bottom of each card */
ion-button {
  margin: 20px 0;
  font-weight: 500;
  width: calc(100% - 32px);
  text-transform: none;
}

/* Toolbar style */
ion-toolbar {
  --background: #f8f8f8;
}

/* Adjust the ion-content padding */
ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}
.centered-image {
  display: block;
  margin-left: 150;
  margin-right: auto;
  width: 250px; /* or any other fixed width */
}
.centered-image2 {
  display: block;
  margin-left: auto;
  margin-right: 250;
  width: 250px; /* or any other fixed width */
}
.full-page-background img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}
