<div class="date-time">
  <span id="currentDateTime"></span>
</div>
<ion-content>
  <div class="date-time">
    <span id="currentDateTime"></span>
  </div>
  <ion-list>
    <ion-card *ngFor="let workout of savedWorkouts">
      <ion-card-header>
        <ion-card-title>{{ workout.workoutTitle }}</ion-card-title>
        <ion-card-subtitle>{{ workout.timestamp | date: 'medium' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- Add more fields here if needed -->
        <p>Duration: {{ workout.duration }}</p>
        <!-- Example to display exercises, adjust according to your data structure -->
        <div *ngFor="let exercise of workout.exercises">
          <p>{{ exercise.name }} - Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  


</ion-content>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>