<ion-header>
  <ion-toolbar>
      <ion-title class="header-title" >Home</ion-title>
  
  </ion-toolbar>
  
</ion-header>

<ion-content class="home-page">
 <!-- Separate container for the background image at the top -->
 <div class="full-page-background">
  <img src="assets/Activity.jpg" alt="Background"  >
  
</div>


<!-- Container for the workouts list -->
<div class="workouts-container">
  <!-- Date and Time Display -->
  <div class="date-time">
    <span id="currentDateTime"></span>
  </div>
  
  <!-- Workouts List -->
  <div *ngFor="let workout of savedWorkouts" class="workout-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ workout.workoutTitle }}</ion-card-title>
        <ion-card-subtitle>{{ workout.timestamp | date: 'medium' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       

        <div><strong>Duration:</strong> {{ workout.duration }}</div>
        <div><strong>Description:</strong> {{ workout.description }}</div>
        <div><strong>TotalVolume:</strong> {{ workout.volume }}</div>
        <div *ngFor="let exercise of workout.exercises">
          <p class="mb-0"><strong>{{ exercise.name }}</strong> - Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}</p>
        </div>
        <div *ngIf="workout.photoURL" class="workout-image">
          <img [src]="workout.photoURL" alt="Workout Photo" class="centered-image">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>


    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
