<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="exercise-buttons">
  <ion-button expand="block" color="primary" class="exercise-button" (click)="startWeightWorkout()">
    Start A Weight Workout
  </ion-button>

  <ion-button expand="block" color="secondary" class="exercise-button" (click)="startBoxingWorkout()">
    Start A Boxing Workout
  </ion-button>

  <ion-button expand="block" color="tertiary" class="exercise-button" (click)="startRunWorkout()">
    Start Run Workout
  </ion-button>
</ion-content>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button [routerLink]="['/home']" class="tab-button">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']" class="tab-button">
        <ion-icon name="barbell-outline" class="tab-icon"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlanner']" class="tab-button">
        <ion-icon name="book-outline" class="tab-icon"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']" class="tab-button">
        <ion-icon name="trophy-outline" class="tab-icon"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']" class="tab-button">
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>