<ion-content>
  <!-- Timer -->
  <div class="timer">
    {{ timer.minutes }}min {{ timer.seconds }}s - Volume: {{ calculatedVolume }} kg - Sets: {{ totalSets }}
  </div>
  <ion-button
  slot="fixed"
  style="position: fixed; top: 0; right: 0; margin: 16px;"
  (click)="finishWorkout()"
>
  Finish
</ion-button>

  <!-- List of selected exercises -->
  <ion-list>
    <ion-item *ngFor="let exercise of selectedExercises">
      <!-- Exercise Name Row -->
      <ion-row>
        <ion-col>
          <ion-label>{{ exercise.name }}</ion-label>
        </ion-col>
      </ion-row>

      <!-- Other Information Row -->
      <ion-row>
        <ion-col>
          <ion-input placeholder="Enter kg" [(ngModel)]="exercise.kg"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label>Reps</ion-label>
          <ion-input placeholder="Enter Reps" [(ngModel)]="exercise.reps"></ion-input>
        </ion-col>
        <ion-col>
          <div>Sets: {{ exercise.setsCounter || 1 }}</div>
        </ion-col>
      </ion-row>

      <!-- Button Row -->
      <ion-row>
        <ion-col>
          <ion-button (click)="calculateVolume()">
            Calculate Volume
          </ion-button>
          <ion-button (click)="addSet(exercise)">
            Add Set
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <!-- Button to add exercise -->
  <ion-button (click)="openExerciseList()">
    Add Exercise
  </ion-button>

  <!-- Button to manually calculate volume -->
  
</ion-content>

<!-- Rest of the code remains the same -->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/exercises']">
        <ion-icon name="barbell-outline"></ion-icon>
        Exercises
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mealPlan']">
        <ion-icon name="book-outline"></ion-icon>
        Meal Plans
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/challenges']">
        <ion-icon name="trophy-outline"></ion-icon>
        Challenges
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/profile']">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>